<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/static/images/favicon.ico}">

    <title>试题管理</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link th:href="@{/static/css/ie10-viewport-bug-workaround.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/static/css/index.css}" rel="stylesheet">
    <link th:href="@{/static/css/jquery.datetimepicker.css}" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><!--<script src="../js/ie8-responsive-file-warning.js"></script>--><![endif]-->
    <script th:src="@{/static/js/ie-emulation-modes-warning.js}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <!--<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>-->
    <!--<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->
    <![endif]-->
</head>

<body>
<nav th:replace="common/fragment :: nav-header"></nav>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="common/fragment :: nav-menu"></nav>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="page-header">成绩统计</h2>


            <!--<h2 class="sub-header">Section title</h2>-->
            <div class="table-responsive">

                <div class="row">
                    <form th:action="@{/stock}" method="get">
                        <div class="col-lg-2">
                            <input type="text" class="form-control date" placeholder="开始时间" name="startTime" th:value="${queryDTO.startTime?.toString()}">
                        </div>
                        <div class="col-lg-2">
                            <input type="text" class="form-control date" placeholder="结束时间" name="endTime" th:value="${queryDTO.endTime?.toString()}">
                        </div>
                        <div class="col-lg-1">
                            <input type="submit" class="form-control btn  btn-primary search" value="搜索">
                        </div>
                    </form>
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="text-center">排名</th>
                        <th class="text-center">部门</th>
                        <th class="text-center">及格率</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-center" th:each="stock,i:${categories}">
                        <td th:text="${i.index+1}"></td>
                        <td th:text="${stock.questionCategory.name}"></td>
                        <td th:text="${stock.passRate*100+'%'}">0</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
<script th:src="@{/static/js/jquery.min.js}"></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script th:src="@{/static/js/holder.min.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script th:src="@{/static/js/ie10-viewport-bug-workaround.js}"></script>
<script th:src="@{/static/js/global.js}"></script>
<script th:src="@{/static/js/jquery.form.js}"></script>
<script th:src="@{/static/utils/httpUtils.js}"></script>
<script th:src="@{/static/js/jquery.js}"></script>
<script th:src="@{/static/js/jquery.datetimepicker.full.js}"></script>



<script type="text/javascript" th:inline="javascript">

//    var ctx = /*[[@{/}]]*/;
    $('.date').datetimepicker({
        lang:"ch", //语言选择中文 注：旧版本 新版方法：$.datetimepicker.setLocale('ch');
        format:"Y-m-d",      //格式化日期
        timepicker:false,    //关闭时间选项
        yearStart:2000,     //设置最小年份
        yearEnd:2050,        //设置最大年份
        todayButton:false    //关闭选择今天按钮
    });

</script>
</body>
</html>
