<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/static/images/favicon.ico}">

    <title>添加试题</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link th:href="@{/static/css/ie10-viewport-bug-workaround.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/static/css/index.css}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><!--<script src="../js/ie8-responsive-file-warning.js"></script>--><![endif]-->
    <script th:src="@{/static/js/ie-emulation-modes-warning.js}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <!--<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>-->
    <!--<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->
    <![endif]-->
</head>

<body>
<nav th:replace="common/fragment :: nav-header"></nav>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="common/fragment :: nav-menu"></nav>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="page-header">添加试题</h2>


            <!--<h2 class="sub-header">Section title</h2>-->
            <div class="table-responsive">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            题型
                        </label>
                        <div class="col-sm-7">
                            <select class="form-control" id="questionType">
                                <option th:each="questionType:${questionTypes.content}" th:text="${questionType.value}" th:value="${questionType.value}">练习题</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            试题
                        </label>
                        <div class="col-sm-7">
                            <textarea  class="form-control" rows="5" id="questionTitle"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            分值
                        </label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" placeholder="" id="questionScore">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            工种
                        </label>
                        <div class="col-sm-7">
                            <select class="form-control" id="questionCategory">
                                <option th:each="questionCategory:${questionCategories.content}" th:text="${questionCategory.name}" th:value="${questionCategory.name}">练习题</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            试题答案
                        </label>
                        <div class="col-sm-7">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr class="text-center">
                                        <th class="text-center"><button type="button" class="btn btn-success add">添加</button></th>
                                        <th class="text-center">答案</th>
                                        <th class="text-center">状态</th>
                                        <th class="text-center">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-center answer-item" name="questionCompositionItem">
                                        <td>&nbsp;&nbsp;</td>
                                        <td><input class="form-control content"></td>
                                        <td class="correct"><input class="answer_status" type="radio" value="" hidden/><label>错误</label></td>
                                        <td>
                                            <button type="button" class="btn btn-sm btn-danger setCorrect">设为正确答案</button>
                                            <button type="button" class="btn btn-sm btn-danger delete">删除</button>
                                        </td>
                                    </tr>
                                    <tr class="text-center hidden item_model" name="questionCompositionItem">
                                        <td>&nbsp;&nbsp;</td>
                                        <td><input class="form-control content"></td>
                                        <td class="correct"><input class="answer_status" type="radio" value="" hidden/><label>错误</label></td>
                                        <td>
                                            <button type="button" class="btn btn-sm btn-danger setCorrect">设为正确答案</button>
                                            <button type="button" class="btn btn-sm btn-danger delete">删除</button>
                                        </td>
                                    </tr>
                                    <!--<tr class="text-center" id="total"></tr>-->
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-10 text-center">
                            <button type="button" class="btn btn-success save">保存</button>
                            <button type="button" class="btn btn-danger" onclick="javascript:history.go(-1);">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
<script th:src="@{/static/js/jquery.min.js}"></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script th:src="@{/static/js/holder.min.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script th:src="@{/static/js/ie10-viewport-bug-workaround.js}"></script>
<script th:src="@{/static/js/global.js}"></script>
<script th:src="@{/static/js/jquery.form.js}"></script>
<script th:src="@{/static/utils/httpUtils.js}"></script>
<script type="text/javascript" th:inline="javascript">

    var ctx = /*[[@{/}]]*/;

    //设置题目中的添加删除功能
    $(".add").on('click',function() {
        $(".item_model").before("<tr class='text-center answer-item' name='questionCompositionItem'>"+$(".item_model").html()+"</tr>");
    })
    $(document).on('click','.delete',function() {
        if ($("tbody tr").size() == 2) {
            alert("无法删除，试题至少包含一个答案");
        }else{
            $(this).parent().parent().remove();
        }
    })

    //设置正确答案
    $(document).on("click",".setCorrect",function (e) {
        var checked = !$(this).parent().prev().find(":radio").prop("checked");
        $(this).parent().prev().find(":radio").prop("checked",checked);
        $(this).parent().prev().find("label").html(checked?"正确":"错误");
        if(checked){
            $(this).removeClass("btn-danger").addClass("btn-success");
        }else{
            $(this).removeClass("btn-success").addClass("btn-danger");
        }
    })
    //保存试题
    $(".save").click(function () {
        var question = new Object();
        question.title = $("#questionTitle").val();
        question.score = $("#questionScore").val();
        question.questionType = {id:0,value:$("#questionType").val()};
        question.questionCategory = {id:0,name:$("#questionCategory").val()};
        question.answers = new Array();
        var correctAnswerArr = new Array("");
        $(".answer_status:checked").each(function (index,e) {
            correctAnswerArr.push($(this).parent().parent().find(".content").val());
        });
        question.correctAnswer = correctAnswerArr.join(",").substring(1);
        $("tbody .answer-item").each(function (e) {
            var answer = new Object();
            answer.keyTag = "";
            answer.content = $(this).find(".content").val();
            answer.correct = $(this).find(".answer_status").prop("checked");
            question.answers.push(answer);
        })
        ajaxUtils.postJson(ctx + "question/add",question,function (e) {
            if(e.success){
                alert("试题保存成功");
               window.location.href = ctx + "question";
            }else{
                alert(e.message);
            }
        })

    })
</script>
</body>
</html>
