<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/static/images/favicon.ico}">

    <title>试题管理</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link th:href="@{/static/css/ie10-viewport-bug-workaround.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/static/css/index.css}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><!--<script src="../js/ie8-responsive-file-warning.js"></script>--><![endif]-->
    <script th:src="@{/static/js/ie-emulation-modes-warning.js}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <!--<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>-->
    <!--<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->
    <![endif]-->
</head>

<body>
<nav th:replace="common/fragment :: nav-header"></nav>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="common/fragment :: nav-menu"></nav>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="page-header">题库中心</h2>


            <!--<h2 class="sub-header">Section title</h2>-->
            <div class="table-responsive">
                <a class="btn btn-primary add" th:href="@{/question/add}">新增</a>
                <button type="button" class="btn btn-success import">导入</button>
                <form id="uploadForm" enctype="multipart/form-data" method="post" style="display: inline">
                    <input id="upfile" type="file" name="upfile" style="display: none">
                </form>
                <a class="btn btn-primary export" th:href="@{/question/export}">导出模板</a>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="text-center" style="width: 40%">试题</th>
                        <th class="text-center" style="width: 10%">题型</th>
                        <th class="text-center" style="width: 15%">选项</th>
                        <th class="text-center" style="width: 5%">答案</th>
                        <th class="text-center" style="width: 5%">分值</th>
                        <th class="text-center" style="width: 10%">工种</th>
                        <th class="text-center" style="width: 15%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-center" th:each="question:${page.content}">
                        <td th:text="${question.title}"></td>
                        <td th:text="${question.questionType?.value}"></td>
                        <td>
                            <select class="form-control" id="answers">
                                <option th:each="item:${question.answers}" th:text="${item.keyTag}+${item.content}">答案选项</option>
                            </select>
                        </td>
                        <td th:text="${question.correctAnswer}">A</td>
                        <td th:text="${question.score}"></td>
                        <td th:text="${question.questionCategory==null?'通用题':question.questionCategory.name}"></td>

                        <td>
                            <!--<a class="btn btn-sm btn-success detail" th:value="${question.id}" data-toggle="modal" data-target="#addModal">查看</a>-->
                            <a class="btn btn-sm btn-success update" th:value="${question.id}" th:href="@{/question/edit/}+${question.id}">修改</a>
                            <a class="btn btn-sm btn-danger delete" th:value="${question.id}">删除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <!--分页-->
                <nav th:replace="common/page::paging"></nav>

            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
<script th:src="@{/static/js/jquery.min.js}"></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script th:src="@{/static/js/holder.min.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script th:src="@{/static/js/ie10-viewport-bug-workaround.js}"></script>
<script th:src="@{/static/js/global.js}"></script>
<script th:src="@{/static/js/jquery.form.js}"></script>
<script th:src="@{/static/utils/httpUtils.js}"></script>


<script type="text/javascript" th:inline="javascript">

    var ctx = /*[[@{/}]]*/;

   //新建试题
    $(".save").click(function () {
        var question = {};
        if($(".modal-dialog").attr("value")){
            question.id = $(".modal-dialog").attr("value");
        }
        question.title = $("#title").val();
        question.score = $("#score").val();
        question.typeId = $("#typeId").val();
        question.workType = $("#workType").val();
        var isValidate = validateQuestion(question);
        if (!isValidate) return;

        ajaxUtils.postJson(ctx + "question/add",question,function (e) {
            if(e.success){
                $('#addModal').modal('hide')
                history.go(0)
            }else{
                alert(e.message);
            }
        })
    });
    
    //校验表单
    function  validateQuestion(question) {
        var flag = true;
        return flag;
    }

    //删除试题
    $(".delete").click(function () {
        ajaxUtils.postParams(ctx+"question/delete/"+$(this).attr("value"),"",function (e) {
            if(e.success){
                history.go(0);
            }
        })
    })

    //添加试题
    $(".add").click(function () {
        $("fieldset").removeAttr("disabled");
        $("#title").val("");
        $("#typeId").val("");
        $("#workType").val("");
        $("#score").val("");
    });

    //导入excel
    $(".import").bind("click",function (e) {
        $(this).next().find("input[type='file']").trigger("click").unbind("change").bind("change",function () {
            if (!this.value) return;
            if(checkData()){
                $(this).parent().ajaxSubmit({
                    url: ctx + "question/importExcel",
                    type: "post",
                    beforeSend: function() {
                        console.log("准备上传");
                    },
                    success:function (result) {
                        if (result.success){
                            alert("上传成功");
                            history.go(0);
                        }else{
                            alert(result.message);
                        }
                    }, error: function(error) {
                        alert("出错啦");
                    }
                })
            }

        })
    })
    //JS校验form表单信息
    function checkData(){
        var fileDir = $("#upfile").val();
        var suffix = fileDir.substr(fileDir.lastIndexOf("."));
        console.log(suffix);
        if("" == fileDir){
            alert("选择需要导入的Excel文件！");
            return false;
        }
        if(".XLS" != suffix && ".XLSX" != suffix && ".xls" != suffix && ".xlsx" != suffix){
            alert("选择Excel格式的文件导入！");
            return false;
        }
        return true;
    }
</script>
<!--<script type="text/javascript">-->
    <!--var system = {-->
        <!--win: false,-->
        <!--mac: false,-->
        <!--xll: false-->
    <!--};-->
    <!--var p = navigator.platform;-->
    <!--system.win = p.indexOf("Win") == 0;-->
    <!--system.mac = p.indexOf("Mac") == 0;-->
    <!--system.x11 = (p == "X11") || (p.indexOf("Linux") == 0);-->
    <!--if (system.win || system.mac || system.xll) {-->
        <!--//PC端访问-->
    <!--} else {-->
        <!--//手机端访问-->
        <!--window.location.href = "http://localhost:8080/question/tip2Pc";-->
    <!--}-->
<!--</script>-->
</body>
</html>
